/* css for each page */

/* css all */
body{
    background-color:#FFFDD0;
}

/* Nav bar css */
h1{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 60px;
    color:#b76e79;
    text-align: center;
}

a{
    cursor: pointer;
}

.nav_bar{
    background-color: #b76e79;
    display: flex;
    justify-content: right;
    object-fit: cover;
}

.nav_bar #o{
    padding:15px;
    color:gold;
    text-decoration: none;
}

.nav_bar a:hover{
    background-color: #bb5464;
    color:gold;
    text-decoration: underline;
}

.dropdown{
    display: none; 
     
}

@media screen and (max-width:379px) {
    h1{
        font-size: 37px;
    }

}

@media screen and (max-width:768px){
    .nav_bar{
        justify-content: left;
    }
    .nav_bar #o{
        display: none;
    }
    .dropdown{
        display: inline-block;
        padding:10px; 
        position:relative;  
    }
    .dropdown .menu{
        display: none;
        position: absolute;
        background-color: #FFFDD0;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .menu a{
        padding: 12px 16px;
        color:#bb5464;
        text-decoration: none;
        display: block;
        text-align:center;
    }

    .dropdown:hover .menu{
        display:block;
    }
    .btn{
    
        border-radius: 10px;
        background-color: rgb(138, 20, 20);
        font-size: 22.5px;
        color:#FFFDD0;
    }

}

/* HomePage css starts here */

#HP > div{
    display:block;
}

.JSH{
    color:#c58383;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram{
    background-image: linear-gradient(to bottom left, blue, purple, pink, orange, #feda75);
    color: white;
  }
  .fa-facebook {
    background-color:blue;
    color: white;
  }